
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_View_site.cshtml";
}

<div id="fw_al_001" class="carousel slide ps_slide_y ps_indicators_y swipe_y ps_easeOutQuint" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2500">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#fw_al_001" data-slide-to="0" class="active"></li>
        <li data-target="#fw_al_001" data-slide-to="1"></li>
        <li data-target="#fw_al_001" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- First Slide -->
        <div class="carousel-item active">

            <!-- Slide Background -->
            <img src="~/img/sites/download.jpg" class='main_slider'
                 id='main_sl'
                 alt="fw_al_001_01">

            <!-- Slide Text Layer -->
            <div class='search_bar'>
                <form action="#" method="post">
                    <div class=" col-md-12 col-md-offset">
                        <div class="input-group">
                            <div class="input-group-btn search-panel search-negocio">
                                <button type="button" class="btn dropdown-toggle button_search " id="button_tipo_negocio" data-toggle="dropdown" style="  background-color: #05AE0E;
  color: #FFFFFF;
  border-radius: 15px 0px 0px 15px;
">
                                    <span class='filter_button'>Type</span><span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
                                </button>
                                <ul class="dropdown-menu" id="menu_tipo">
                                    <li><a href="#v" color="#339900">Shadi</a></li>
                                    <li><a href="#a" color="#663399">Organizational Events</a></li>
                                    <li><a href="#p" color="#FFCC00">Britday party</a></li>

                                </ul>
                            </div>
                            <div class="input-group-btn search-panel search-tipo">
                                <button type="button" class="btn dropdown-toggle button_search" id="button_tipo_propiedad" data-toggle="dropdown" style="  background-color: #c5c5c5;
  color: #D35161;
">
                                    <span id="tipo_propiedad" class='filter_button'>Capcity</span><span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
                                </button>
                                <ul class="dropdown-menu" id="menu_tipo">
                                    <li><a href="#1">1 - 20</a></li>
                                    <li><a href="#2">1 - 99</a></li>
                                    <li><a href="#3">1 - 250</a></li>
                                    <li><a href="#58">1 - 499</a></li>

                                </ul>
                            </div>
                            <input type="text" class="form-control button_search" name="" placeholder="Hall name/Location" /><span class="input-group-btn">
                                <button class="btn button_search btn-extremo-derecho" type="submit" onclick="location.href = '@Url.Content("../Site/Search")';" style="  color: #FFFFFF;
  background-color: #FF3B30;
  border-radius: 0px 15px 15px 0px;
">
                                    <span class="glyphicon glyphicon-search" class='filter_button'>Search</span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Second Slide -->
        <div class="carousel-item">

            <!-- Slide Background -->
            <img src="~/img/sites/unnamed.jpg" class='main_slider'
                 id='main_sl' alt="fw_al_001_02">

            <!-- Slide Text Layer -->
            <div class='search_bar'>
                <form action="#" method="post">
                    <div class=" col-md-12 col-md-offset">
                        <div class="input-group">
                            <div class="input-group-btn search-panel search-negocio">
                                <button type="button" class="btn dropdown-toggle button_search " id="button_tipo_negocio" data-toggle="dropdown" style="  background-color: #05AE0E;
  color: #FFFFFF;
  border-radius: 15px 0px 0px 15px;
">
                                    <span class='filter_button'>Type</span><span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
                                </button>
                                <ul class="dropdown-menu" id="menu_tipo">
                                    <li><a href="#v" color="#339900">Shadi</a></li>
                                    <li><a href="#a" color="#663399">Organizational Events</a></li>
                                    <li><a href="#p" color="#FFCC00">Britday party</a></li>

                                </ul>
                            </div>
                            <div class="input-group-btn search-panel search-tipo">
                                <button type="button" class="btn dropdown-toggle button_search" id="button_tipo_propiedad" data-toggle="dropdown" style="  background-color: #c5c5c5;
  color: #D35161;
">
                                    <span id="tipo_propiedad" class='filter_button'>Capcity</span><span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
                                </button>
                                <ul class="dropdown-menu" id="menu_tipo">
                                    <li><a href="#1">1 - 20</a></li>
                                    <li><a href="#2">1 - 99</a></li>
                                    <li><a href="#3">1 - 250</a></li>
                                    <li><a href="#58">1 - 499</a></li>

                                </ul>
                            </div>
                            <input type="text" class="form-control button_search" name="" placeholder="Hall name/Location" /><span class="input-group-btn">
                                <button class="btn button_search btn-extremo-derecho" type="submit" onclick="location.href = '@Url.Content("../Site/Search")';" style="  color: #FFFFFF;
  background-color: #FF3B30;
  border-radius: 0px 15px 15px 0px;
">
                                    <span class="glyphicon glyphicon-search" class='filter_button'>Search</span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Slide -->
    <!-- Third Slide -->
    <div class="carousel-item">

        <!-- Slide Background -->
        <img src="~/img/sites/1.jpg" class='main_slider'
             id='main_sl' alt="fw_al_001_03">

        <!-- Slide Text Layer -->
        <div class='search_bar'>
            <form action="#" method="post">
                <div class=" col-md-12 col-md-offset">
                    <div class="input-group">
                        <div class="input-group-btn search-panel search-negocio">
                            <button type="button" class="btn dropdown-toggle button_search " id="button_tipo_negocio" data-toggle="dropdown" style="  background-color: #05AE0E;
  color: #FFFFFF;
  border-radius: 15px 0px 0px 15px;
">
                                <span class='filter_button'>Type</span><span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
                            </button>
                            <ul class="dropdown-menu" id="menu_tipo">
                                <li><a href="#v" color="#339900">Shadi</a></li>
                                <li><a href="#a" color="#663399">Organizational Events</a></li>
                                <li><a href="#p" color="#FFCC00">Britday party</a></li>

                            </ul>
                        </div>
                        <div class="input-group-btn search-panel search-tipo">
                            <button type="button" class="btn dropdown-toggle button_search" id="button_tipo_propiedad" data-toggle="dropdown" style="  background-color: #c5c5c5;
  color: #D35161;
">
                                <span id="tipo_propiedad" class='filter_button'>Capcity</span><span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
                            </button>
                            <ul class="dropdown-menu" id="menu_tipo">
                                <li><a href="#1">1 - 20</a></li>
                                <li><a href="#2">1 - 99</a></li>
                                <li><a href="#3">1 - 250</a></li>
                                <li><a href="#58">1 - 499</a></li>

                            </ul>
                        </div>
                        <input type="text" class="form-control button_search" name="" placeholder="Hall name/Location" /><span class="input-group-btn">
                            <button class="btn button_search btn-extremo-derecho" type="submit" onclick="location.href = '@Url.Content("../Site/Search")';" style="  color: #FFFFFF;
  background-color: #FF3B30;
  border-radius: 0px 15px 15px 0px;
">
                                <span class="glyphicon glyphicon-search" class='filter_button'>Search</span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of Slide -->
		</div><!-- End of Wrapper For Slides -->
	</div> <!-- End Paradise Slider -->
<!-- End -->
<section style="margin: 0px 0px;padding: 0px;padding-bottom: 2%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img id="Ads_banner" src="~/img/sites/banner-ads-examples-ncino.jpg"></div>
        </div>
    </div>
</section>
<section id="Main_body" style="padding: 0px;margin-right: 8%;margin-left: 8%;margin-top: 1%;">
    <section id="Area-Slider" style="padding: 0px;margin: 0px;margin-bottom: 5%;">
        <h2>Browse by area<br></h2>
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="Slider_FA simple-slider">
                        <div class="col-sm-6 col-md-4 Visible_ product-item animation-element slide-top-left">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12 background_img">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="row" style="width: 100%;">
                                    <div class="col-8 Div_Product-details" style="padding: 0px;display: flex;align-items: center;">
                                        <h2 style="height: 70px;max-height: 90px;width: auto;margin: 0px;"><a href="@Url.Action("../Site/Product_details")" style="font-size: x-large;"><br>Baldia Town.<br><br></a></h2>
                                    </div>
                                </div>
                                <div class="Product-details_">
                                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div><a class="small-text"  href="@Url.Action("../Site/Product_details")" >82 reviews</a><a class="small-text" href="@Url.Action("../Site/Search")" >840 hall found<br></a><a class="small-text" href="#"><br></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left EXtra">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12 background_img">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="row" style="width: 100%;">
                                    <div class="col-8 Div_Product-details" style="padding: 0px;display: flex;align-items: center;">
                                        <h2 style="height: 70px;max-height: 90px;width: auto;margin: 0px;"><a href="@Url.Action("../Site/Product_details")" style="font-size: x-large;"><br>Baldia Town.<br><br></a></h2>
                                    </div>
                                </div>
                                <div class="Product-details_">
                                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div><a class="small-text"  href="@Url.Action("../Site/Product_details")" >82 reviews</a><a class="small-text" href="@Url.Action("../Site/Search")" >840 hall found<br></a><a class="small-text" href="#"><br></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 EXtra product-item animation-element slide-top-left" id="EXtra">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12 background_img">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="row" style="width: 100%;">
                                    <div class="col-8 Div_Product-details" style="padding: 0px;display: flex;align-items: center;">
                                        <h2 style="height: 70px;max-height: 90px;width: auto;margin: 0px;"><a href="@Url.Action("../Site/Product_details")" style="font-size: x-large;"><br>Baldia Town.<br><br></a></h2>
                                    </div>
                                </div>
                                <div class="Product-details_">
                                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div><a class="small-text"  href="@Url.Action("../Site/Product_details")" >82 reviews</a><a class="small-text" href="@Url.Action("../Site/Search")" >840 hall found<br></a><a class="small-text" href="#"><br></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next Slider_button"></div>
            </div>
        </div>
    </section>
    <section id="Near_by-Slider" style="padding: 0px;margin: 0px;margin-bottom: 5%;">
        <h2>See Near by<br></h2>
        <div id="Allow" style="opacity: 10;">
            <div class="simple-slider">
                <div class="swiper-container">
                    <div id="allowTo">
                        <div class="swiper-wrapper">
                            <div class="Slider_FA simple-slider">
                                <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                                    <div class="product-container">
                                        <div class="row">
                                            <div class="col-md-12 background_img">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="row" style="width: 100%;">
                                            <div class="col-8 Div_Product-details" style="padding: 0px;display: flex;align-items: center;">
                                                <h2 style="height: 70px;max-height: 90px;width: auto;margin: 0px;"><a href="@Url.Action("../Site/Product_details")" style="font-size: x-large;"><br>Baldia Town.<br><br></a></h2>
                                            </div>
                                        </div>
                                        <div class="Product-details_">
                                            <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div><a class="small-text"  href="@Url.Action("../Site/Product_details")" >82 reviews</a><a class="small-text" href="@Url.Action("../Site/Search")" >840 hall found<br></a><a class="small-text" href="#"><br></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left" id="EXtra">
                                    <div class="product-container">
                                        <div class="row">
                                            <div class="col-md-12 background_img">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="row" style="width: 100%;">
                                            <div class="col-8 Div_Product-details" style="padding: 0px;display: flex;align-items: center;">
                                                <h2 style="height: 70px;max-height: 90px;width: auto;margin: 0px;"><a href="@Url.Action("../Site/Product_details")" style="font-size: x-large;"><br>Baldia Town.<br><br></a></h2>
                                            </div>
                                        </div>
                                        <div class="Product-details_">
                                            <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div><a class="small-text"  href="@Url.Action("../Site/Product_details")" >82 reviews</a><a class="small-text" href="@Url.Action("../Site/Search")" >840 hall found<br></a><a class="small-text" href="#"><br></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left" id="EXtra">
                                    <div class="product-container">
                                        <div class="row">
                                            <div class="col-md-12 background_img">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="row" style="width: 100%;">
                                            <div class="col-8 Div_Product-details" style="padding: 0px;display: flex;align-items: center;">
                                                <h2 style="height: 70px;max-height: 90px;width: auto;margin: 0px;"><a  href="@Url.Action("../Site/Product_details")" style="font-size: x-large;"><br>Baldia Town.<br><br></a></h2>
                                            </div>
                                        </div>
                                        <div class="Product-details_">
                                            <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div><a class="small-text"  href="@Url.Action("../Site/Product_details")" >82 reviews</a><a class="small-text" href="@Url.Action("../Site/Search")" >840 hall found<br></a><a class="small-text" href="#"><br></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div style="background-color: rgba(146,146,146,0.23);text-align: center;position: absolute;top: 40%;right: 15%;left: 15%;z-index: 10000;">
                        <h4>Allow to see Near by halls</h4><button class="btn btn-primary" type="button">Allow</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding: 0px;margin: 0px;margin-right: 0px;margin-left: 0px;">
        <h3>Different # tag&nbsp;</h3>
        <header>
            <div class="btn-group" role="group" style="border-bottom-color: whi;"><button class="btn btn-primary btn-border-active" type="button">All in one</button><button class="btn btn-primary btn-border" type="button">Shadi</button><button class="btn btn-primary btn-border" type="button">Party</button><button class="btn btn-primary btn-border" type="button">Organizational Events</button></div>
            <div class="container" style="margin: 0px;margin-left: 0;border-top: 2px solid #fec503;">
                <div class="row row-cols-2 row-cols-sm-1 justify-content-start align-items-start">
                    <div class="col-md-3">
                        <ul>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                        </ul>
                    </div>
                    <div class="col-2 col-md-3 offset-0 order-1">
                        <ul>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                            <li class="list_Det"><a href="@Url.Action("../Site/Search ")" >#Shadi<p>708,540</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
</section>